<ion-view view-title="Profissional de Saúde">
  <ion-content>
    <form ng-submit="salvar()">

      <div class="list" style="margin-top: 18px;">
        <label class="item item-input item-select">
          <div class="input-label" style="color: #9e9e9e;">
            PROFISSÃO
          </div>
          <select name="profissao" ng-model="profissionalSaude.codprofissao"
          ng-options="profissao.codigo as (profissao.nome | uppercase) for profissao in profissoes">
            <option></option>
          </select>
        </label>
      </div>

      <div class="list" style="margin-top: 18px;">
        <label class="item item-input item-select">
          <div class="input-label" style="color: #9e9e9e;">
            PAÍS
          </div>
          <select name="pais" ng-model="profissionalSaude.codpais"
                  ng-options="pais.codigo as (pais.nome | uppercase) for pais in paises">
          </select>
        </label>
      </div>



      <label class="item item-input item-floating-label">
        <span class="input-label">Cpf</span>
        <input type="text" ng-model="profissionalSaude.cpf" ui-mask="999.999.999-99">
        <p ng-show="erro" class="help-error">{{error['cpf']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Rg</span>
        <input placeholder="RG" type="number" ng-model="profissionalSaude.rg">
        <p ng-show="erro" class="help-error">{{error['rg']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Registro</span>
        <input placeholder="REGISTRO" type="text" ng-model="profissionalSaude.registro">
        <p ng-show="erro" class="help-error">{{error['registro']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Nome</span>
        <input placeholder="NOME" type="text" ng-model="profissionalSaude.nome">
        <p ng-show="erro" class="help-error">{{error['nome']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Data Nascimento</span>
        <input type="text" placeholder="DT. Nascimento"
               ng-model="dataSelecionada" ng-focus="openDatePiker()">
        <p ng-show="erro" class="help-error">{{error['datanascimento']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Fone</span>
        <input type="number" placeholder="TELEFONE" ng-model="profissionalSaude.fone">
        <p ng-show="erro" class="help-error">{{error['fone']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input placeholder="EMAIL" type="text" ng-disabled="fieldCpf" ng-model="profissionalSaude.email">
        <p ng-show="erro" class="help-error">{{error['email']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Senha</span>
        <input type="password" placeholder="SENHA" ng-model="profissionalSaude.senha">
        <p ng-show="erro" class="help-error">{{error['senha']}}</p>
      </label>

      <label class="item item-input item-floating-label">
        <span class="input-label">Confirmar senha</span>
        <input type="password" placeholder="CONFIRMAR SENHA"
               ng-model="profissionalSaude.confirmPassword">
        <p ng-show="erro" class="help-error">{{error['confirmPassword']}}</p>
      </label>

      <button class="button button-positive button-full" type="submit">Salvar</button>
    </form>
  </ion-content>
</ion-view>
