<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <form ng-submit="doLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" class="input-login" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" class="input-login" ng-model="loginData.password">
        </label>
      </div>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Entrar</button>
      </label>
    </form>
  </ion-content>
</ion-view>
