<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <form novalidate ng-submit="doLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="email" class="input-email" ng-model="loginData.email">
        </label>
        <label>
            <span ng-show="erro" class="help-error">{{error['email']}}</span>
        </label>
        <label class="item item-input">
          <input type="password" placeholder="senha" class="input-login" ng-model="loginData.password">
        </label>
        <label>
            <p ng-show="erro" class="help-error">{{error['password']}}</p>
        </label>
      </div>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Entrar</button>
      </label>
    </form>
  </ion-content>
</ion-view>
