<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar bar-positive">
      <h1 class="title">Opções</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="closer()">
          <span class="icon-left ion-android-exit template-icons"></span>
          <span>Sair</span>
        </ion-item>
        <ion-item ng-click="stade('c')" menu-close href="#/app/search">
          <span class="icon-left ion-clipboard template-icons"></span>
          <span>Criar Consulta</span>
          <span ng-hide="pageCreate" class="ion-android-done-all spacing-stade"></span>
        </ion-item>
        <ion-item ng-click="stade('v')" menu-close href="#/app/ver-consulta">
          <span class="icon-left ion-clock template-icons"></span>
          <span>Ver Consultas</span>
          <span ng-hide="pageEyes" class="ion-android-done-all spacing-stade"></span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
