@mixin efeito-transicao($size){
  font-size: $size;
  transition-property: font-size;
  transition-duration: 0.5s;
}

label .efeito-letra{
  @include efeito-transicao(13px);
}

label .volta-letra{
  @include efeito-transicao(16px);
}
