label .efeito-letra{
  font-size: 13px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

label .volta-letra{
  font-size: 16px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
